catalogue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="TypPrix">
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TypStock">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TypID">
        <xs:restriction base="xs:string">
            <xs:pattern value="2B-[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TypCategorie">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Artisanat"/>
            <xs:enumeration value="Alimentaire"/>
            <xs:enumeration value="Services"/>
            <xs:enumeration value="Mode"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="catalogue">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="produit" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nom" type="xs:string"/>
                            <xs:element name="description" type="xs:string" minOccurs="0"/>
                            <xs:element name="prix" type="TypPrix"/>
                            <xs:element name="quantite" type="TypStock"/>
                            <xs:element name="categorie" type="TypCategorie" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="TypID" use="required"/>
                        <xs:attribute name="disponible" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="oui"/>
                                    <xs:enumeration value="non"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
